<!DOCTYPE html>
<html class="cls-theme-dark" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="format-detection" content="telephone=no" />
        ::ssrHead:: ::preloadPagesLink::
        <link rel="preload" href="/script" as="script" />
        ::manifestLink::
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/static/icons/apple-touch-icon.png"
        />
        <link
            rel="mask-icon"
            href="/static/icons/safari-pinned-tab.svg"
            color="#00b4b6"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/icons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/icons/favicon-16x16.png"
        />
        ::css::
    </head>
    <body>
        <div class="cls-root">::ssr::</div>
        <script>
            import { isChromium, isChromebook, isMobile } from '/env';
            if (isChromium) {
                document.documentElement.classList.add('cls-chromium');
            }
            if (!isChromebook && !isMobile) {
                document.documentElement.classList.add(
                    'cls-not-mobile-or-chromebook',
                );
            }
        </script>
        <script>
            import { setupTheme } from '/theme';
            setupTheme();
        </script>
        <script>
            requestAnimationFrame(function loop() {
                document.documentElement.style.setProperty(
                    '--scrollbar-width',
                    window.innerWidth -
                        document.documentElement.clientWidth +
                        'px',
                );
                requestAnimationFrame(loop);
            });
        </script>
        <script>
            import { makeRequest } from '/data/docPages';
            makeRequest();
        </script>
        <script>
            import { globalPagesMetadataKey } from '/globalKeys';
            window[globalPagesMetadataKey] = __pagesMetadata__;
        </script>
        <script async type="application/javascript" src="/script"></script>
    </body>
</html>
