/*
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
input,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$size-small: 700px;
$size-show-menu: 840px;
$size-sidebar-right: 1100px;
$z-index-skip-link: 1;
$z-index-sticky-menu-toggle-button: 1;
$main-text-size: 16px;
$spacing: 0.8 * $main-text-size;
$text-color: #000;
$link-highlight-color: #f36;
$light-border: 1px solid #ececec;
$max-width: 1400px;
$hover-opacity: 0.7;
$header-height: 56px;
$header-border-height: 1px;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: $main-text-size;
}

html,
body {
    letter-spacing: 0.025em;
    text-size-adjust: none;
    line-height: 1.7;
}

input,
button {
    border: none;
    background: inherit;
}

// https://web.dev/headings-and-landmarks/#use-landmarks-to-aid-navigation
.cls-skip-link {
    position: absolute;
    top: -100px;
    left: 8px;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: $z-index-skip-link;
}

.cls-skip-link:focus {
    top: 0;
}

$content-link-start-color: lighten($text-color, 30%);
$content-link-hover-color: $text-color;

@mixin content-link {
    text-decoration: none;
    color: $content-link-start-color;

    &:hover,
    &:focus {
        color: $content-link-hover-color;
    }

    &:focus:not(:focus-visible) {
        color: $content-link-start-color;
    }
}

@mixin navigation-link {
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:focus {
        opacity: $hover-opacity;
    }

    &:focus:not(:focus-visible) {
        opacity: 1;
    }
}

.cls-header {
    $link-margin: 1px;
    $link-padding: 7px;
    $content-height: 40px;

    border-bottom: $light-border;
    display: flex;
    align-items: center;
    height: $header-height;
    right: 0;
    left: 0;
    top: 0;
    position: relative;
    font-weight: 500;

    &__contents {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: $max-width;
        position: relative;
        width: 100%;
        height: $header-height;

        @media screen and (min-width: $size-show-menu) {
            padding: 0 $spacing;
        }

        &__container {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    &__nav {
        height: 100%;

        &__list {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 calc(#{$spacing} - #{$link-margin} - #{$link-padding});
        }

        @media screen and (max-width: $size-small) {
            &--left-with-back-button {
                padding-right: 0;
            }
        }

        &__link-container {
            display: flex;
            height: 100%;
            align-items: center;

            &--active {
                border-bottom: 2px solid $link-highlight-color;
            }
        }

        &__link-container--active &__link {
            color: $link-highlight-color !important;
            margin-bottom: -2px;
        }

        &__link {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0px $link-margin;
            padding: 0px $link-padding;
            height: $content-height;

            @include navigation-link;
        }

        &__icon {
            fill: $text-color;
            height: 20px;

            &--menu {
                height: 24px;
            }
        }

        &__link:hover &__icon,
        &__link:focus &__icon {
            opacity: $hover-opacity;
        }

        &__link:focus:not(:focus-visible) &__icon {
            opacity: 1;
        }
    }

    @media screen and (max-width: $size-small) {
        &__logo--next-to-back-button {
            padding: 0;
        }
    }

    &__logo-img {
        fill: none;
        height: 100%;
        width: auto;
        display: block;

        &--without-text {
            display: none;
        }

        @media screen and (max-width: $size-small) {
            padding-left: 0;
            padding-right: 0;

            &--without-text {
                display: block;
            }

            &--with-text {
                display: none;
            }
        }
    }

    &__search {
        position: relative;
        flex-grow: 1;

        $icon-size: $main-text-size;
        $icon-spacing-lg: $spacing;
        $icon-spacing-sm: $spacing/2;

        &__input {
            font-weight: 400;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            height: $content-height;

            padding-left: $icon-size + $icon-spacing-lg * 2;
            padding-right: $icon-spacing-lg;
            @media screen and (max-width: $size-small) {
                padding-left: $icon-size + $icon-spacing-sm * 2;
                padding-right: $icon-spacing-sm;
            }

            &::placeholder {
                color: $text-color;
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            pointer-events: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            padding-left: $icon-spacing-lg;
            @media screen and (max-width: $size-small) {
                padding-left: $icon-spacing-sm;
            }

            &__svg {
                fill: $text-color;
                height: $icon-size;
            }
        }
    }

    &__version {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $text-color;
        letter-spacing: 0;
    }

    @media screen and (max-width: $size-small) {
        &__nav {
            &--pages {
                display: none;
            }
        }

        &__search {
            justify-content: space-around;
            margin-right: $spacing;
        }
    }

    &__menu-toggle-button {
        &:not(&--enabled) {
            @media screen and (min-width: $size-show-menu) {
                display: none;
            }
        }
    }

    &__sticky-menu-toggle-button {
        position: fixed;
        $padding: $spacing/2;
        $size: 24px;
        bottom: $spacing * 2 - $padding;
        right: $spacing * 2 - $padding;
        height: $size + $padding * 2;
        width: $size + $padding * 2;
        z-index: $z-index-sticky-menu-toggle-button;
        cursor: pointer;
        background-color: transparent;
        transform: translateY(4px);
        $transition: 0.1s ease-out;
        $transition-out-type: ease-out;
        transition: background-color $transition, transform $transition;

        &--show {
            background-color: rgba(255, 255, 255, 0.7);
            transform: translateY(0);
        }

        &__icon {
            box-sizing: content-box;
            padding: $padding;
            opacity: 0;
            fill: $text-color;
            height: $size;
            width: $size;
            transition: opacity $transition;
        }

        &--show &__icon {
            opacity: 1;
        }
    }
}

.cls-menu {
    display: none;
    justify-content: center;

    @mixin show {
        display: flex;

        & ~ .cls-page {
            position: absolute;
            top: -99999px;
            left: -99999px;
        }
    }

    &--open {
        @media screen and (max-width: $size-show-menu) {
            @include show;
        }
    }

    &--open#{&}--enabled {
        @include show;
    }

    &__contents {
        width: 100%;
        max-width: $max-width;
        padding: $spacing;

        @media screen and (min-width: $size-show-menu) {
            padding: $spacing * 2;
        }
    }
}

// Fix chromium quirk where focusing the link through javascript in specific
// circumstances does not show an outline.
.cls-fix-chromium-focus:focus {
    outline: 2px solid -webkit-focus-ring-color !important;
    opacity: $hover-opacity !important;
}

.cls-full-site-nav {
    &__header {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $main-text-size;
        margin-top: $spacing * 4;
        &:first-child {
            margin-top: 0;
        }
        margin-bottom: 0.5em;
        letter-spacing: 1.9px;

        &--active {
            color: $link-highlight-color;
        }
    }

    $link-padding-tb: $spacing / 2;
    $link-padding-lr: $spacing / 2;
    $link-padding-lr-menu: $spacing / 4;
    $link-padding: $link-padding-tb $link-padding-lr;
    $link-padding-menu: $link-padding-tb $link-padding-lr-menu;

    &__link-list {
        margin-left: -$link-padding-lr;
        width: calc(100% + #{$link-padding-lr * 2});
        .cls-menu & {
            margin-left: -$link-padding-lr-menu;
            width: calc(100% + #{$link-padding-lr-menu * 2});
        }
    }

    &__li {
        margin-top: 4px;
        line-height: 24px;
    }

    &__link__border {
        display: none;
    }

    &__link-container--active &__link__border {
        padding: $link-padding;
        .cls-menu & {
            padding: $link-padding-menu;
        }
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            position: absolute;
            left: $link-padding-lr - $link-padding-lr-menu;
            right: $link-padding-lr - $link-padding-lr-menu;
            .cls-menu & {
                left: 0;
                right: 0;
            }
            bottom: 3px;
            content: '';
            border-bottom: 2px solid $link-highlight-color;
        }
    }

    &__link-container--active &__link {
        color: $link-highlight-color !important;
    }

    &__link {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: $link-padding;
        .cls-menu & {
            padding: $link-padding-menu;
        }
        @include content-link;
    }
}

@mixin sticky-sidebar--js-sticky-active {
    position: fixed;
    top: 0;
    height: 100vh;
}

@mixin supports-sticky {
    @supports (position: sticky) {
        @content;
    }
}

.cls-page {
    &__inner {
        position: relative;
        display: flex;
        width: 100%;
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
        padding: 0 $spacing;

        @media screen and (max-width: $size-show-menu) {
            padding: 0;
        }
    }

    &__sidebar {
        $max-width: 260px;
        $min-width: 210px;
        $width-old-browser: ($min-width + $max-width) / 2;
        $width-new-browser: #{'max' }(#{'min' }(20vw, $max-width), $min-width);

        flex-shrink: 0;
        width: $width-old-browser;
        width: $width-new-browser;
        padding: $spacing * 2;
        padding-left: $spacing;
        overflow-y: auto;
        margin-right: $spacing;

        &--js-sticky-active {
            @include sticky-sidebar--js-sticky-active;

            & ~ .cls-page__content {
                width: calc(100% - #{$width-old-browser});
                width: calc(100% - #{$width-new-browser});
                flex-grow: 0;
                padding-left: $spacing;
                margin-left: auto;
            }
        }

        @include supports-sticky {
            position: sticky;
            top: 0;
            max-height: 100vh;
            padding-bottom: $header-height + $header-border-height;

            &--native-sticky-fix-active {
                padding-bottom: $spacing * 2;
            }
        }

        @media screen and (max-width: $size-show-menu) {
            display: none;
        }
    }

    &__content {
        flex-grow: 1;

        &__container {
            padding: $spacing;
            padding-bottom: 0;
            color: $text-color;
        }
    }
}

.cls-doc-page {
    margin-top: $spacing/2;
    padding-right: 0;

    &__content {
        display: flex;
        flex-direction: row-reverse;
    }

    $title-spacing-bottom: 25px;

    &__main {
        flex-grow: 1;
        padding-top: $title-spacing-bottom;
        padding-right: $spacing;

        @media screen and (min-width: $size-sidebar-right) {
            padding-right: 0;
        }

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    $min-sidebar-width: 260px;
    $max-sidebar-width: 400px;
    $non-native-sticky-support-sidebar-width: (
            $min-sidebar-width + $max-sidebar-width
        )/2;
    $sidebar-padding: $spacing * 2;

    &__sidebar-non-native-sticky-support-placeholder {
        margin-top: $title-spacing-bottom - $sidebar-padding;
        flex-shrink: 0;

        &--js-sticky-active {
            width: $non-native-sticky-support-sidebar-width;
        }

        @media screen and (max-width: $size-sidebar-right) {
            display: none;
        }
    }

    &__sidebar {
        flex-shrink: 0;
        width: $non-native-sticky-support-sidebar-width;
        margin-top: $title-spacing-bottom - $sidebar-padding;
        padding: $sidebar-padding;
        padding-left: $spacing * 6;
        padding-right: $spacing * 2;
        overflow-y: auto;
        scrollbar-width: thin;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;

        &--js-sticky-active {
            @include sticky-sidebar--js-sticky-active;
            top: -($title-spacing-bottom - $sidebar-padding);
            right: $sidebar-padding;
        }

        @include supports-sticky {
            position: sticky;
            width: auto;
            min-width: $min-sidebar-width;
            max-width: $max-sidebar-width;
            max-height: 100vh;
            top: 0;
        }

        @media screen and (max-width: $size-sidebar-right) {
            display: none;
        }

        &__title {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: $spacing/2;
        }

        &__table-of-contents {
            &__item {
                $indent: $spacing * 2;
                padding: $spacing/5 0;
                margin-left: $indent;
                font-size: 14px;
                text-decoration: underline;

                &--has-nested-references {
                    padding: $spacing/2 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                &__main-reference {
                    margin-left: -$indent;
                    text-indent: $indent;
                    outline-offset: $spacing * 0.7;
                    @include content-link;
                }
            }
        }
    }

    &__title {
        font-size: 40px;
        line-height: 1em;
        padding-bottom: 2px;
        margin-right: $spacing;
        border-bottom: 1px solid rgb(240, 240, 242);
        font-weight: 500;
    }
}

.cls-node {
    &-link:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    &-blockquote,
    &-collapsible-section,
    &-ordered-list,
    &-unordered-list,
    &-paragraph,
    &-code-block,
    &-rich-code-block,
    &-table {
        margin-top: 0;
        margin-bottom: 16px;
    }

    &-subscript,
    &-superscript {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    &-superscript {
        top: -0.5em;
    }

    &-subscript {
        bottom: -0.25em;
    }

    &-italics {
        font-style: italic;
    }

    &-bold {
        font-weight: bold;
    }

    &-strikethrough {
        text-decoration: line-through;
    }

    &-code-span,
    &-code-block,
    &-rich-code-block {
        font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono,
            Oxygen Mono, Liberation Mono, monospace;
        font-size: 1em;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        // max-width: 100%;
    }

    &-code-span {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
    }

    &-link {
        color: $link-highlight-color;
        text-decoration: none;
        text-decoration: underline;
        outline-offset: $spacing / 4;
    }

    &-link:hover {
        opacity: 0.7;
    }

    &-header-1,
    &-header-2,
    &-header-3,
    &-header-4,
    &-header-5,
    &-header-6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    &-header-1 {
        font-size: 32px;
    }

    &-header-1,
    &-header-2 {
        font-weight: 600;
    }

    &-header-2 {
        font-size: 24px;
    }

    &-header-3 {
        font-size: 20px;
    }

    &-header-3,
    &-header-4 {
        font-weight: 600;
    }

    &-header-4 {
        font-size: 16px;
    }

    &-header-5 {
        font-size: 14px;
    }

    &-header-5,
    &-header-6 {
        font-weight: 600;
    }

    &-header-6 {
        font-size: 12px;
    }

    &-header-1,
    &-header-2,
    &-header-3,
    &-header-4,
    &-header-5,
    &-header-6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
    }

    &-header-1 {
        font-size: 2em;
    }

    &-header-1,
    &-header-2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid #eaecef;
    }

    &-header-2 {
        font-size: 1.5em;
    }

    &-header-3 {
        font-size: 1.25em;
    }

    &-header-4 {
        font-size: 1em;
    }

    &-header-5 {
        font-size: 0.875em;
    }

    &-header-6 {
        font-size: 0.85em;
        color: #6a737d;
    }

    &-table {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: 100%;
        overflow: auto;

        th {
            font-weight: 600;
        }

        td,
        th {
            padding: 6px 13px;
            border: 1px solid #dfe2e5;
        }

        td {
            > :first-child {
                margin-top: 0;
            }

            > :last-child {
                margin-bottom: 0;
            }
        }

        tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;
        }

        tr:nth-child(2n) {
            background-color: #f6f8fa;
        }
    }

    &-ordered-list {
        list-style-type: decimal;
    }

    &-unordered-list {
        list-style-type: disc;
    }

    &-ordered-list,
    &-unordered-list {
        padding-left: 2em;
    }

    &-ordered-list &-ordered-list,
    &-ordered-list &-unordered-list,
    &-unordered-list &-ordered-list,
    &-unordered-list &-unordered-list {
        margin-top: 0;
        margin-bottom: 0;
    }

    &-list__item {
        word-wrap: break-all;

        & + & {
            margin-top: 0.4em;
        }
    }

    &-list__item > &-paragraph {
        margin-bottom: 0;
    }

    &-collapsible-section {
        display: block;
    }

    &-collapsible-section__summary {
        cursor: pointer;
        display: list-item;
    }

    &-blockquote {
        margin: 0;
        padding: 0 1em;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
}
