@use "sass:selector";

$size-small: 740px;
$size-show-menu: 840px;
$size-sidebar-right: 1100px;
$z-index-search-overlay: 1;
$z-index-search: 2;
$z-index-skip-link: 3;
$z-index-sticky-menu-toggle-button: 3;
$main-text-size: 16px;
$spacing: 0.8 * $main-text-size;
$max-width: 1400px;
$hover-opacity: 0.7;
$header-height: 56px;
$header-border-height: 1px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
$focus-border-color: #74b0f4;

$text-primary: 'text-primary';
$text-secondary: 'text-secondary';
$text-primary-accent: 'text-primary-accent';
$accent: 'accent';
$code-color: 'code-color';
$bg0: 'bg0';
$bg1: 'bg1';
$bg2: 'bg2';
$bg3: 'bg3';
$light-border: 'light-border';

$light: 'light';
$dark: 'dark';

$themes: (
    $light: (
        $text-primary: #000,
        $text-secondary: #6a737d,
        $text-primary-accent: #333,
        $accent: #3884ff,
        $code-color: #6b46c1,
        $bg0: #fff,
        $bg1: #f5f7f9,
        $bg2: #ddd,
        $bg3: #909090,
        $light-border: 1px solid #eee,
    ),
    $dark: (
        $text-primary: #fff,
        $text-secondary: #aaa,
        $text-primary-accent: #ccc,
        $accent: #3884ff,
        $code-color: #9f7aea,
        $bg0: #1a202c,
        $bg1: #11151c,
        $bg2: #212d40,
        $bg3: #364156,
        $light-border: 1px solid #2d3748,
    ),
);

$theme-map: null;

@mixin with-theme-values($theme, $map) {
    $theme-map: () !global;
    @each $key, $sub-map in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
            $theme-map,
            (
                $key: $value,
            )
        ) !global;
    }
    @content;
    $theme-map: null !global;
}

@mixin theme($theme) {
    $map: map-get($themes, $theme);
    .cls-theme-#{$theme} & {
        @include with-theme-values($theme, $map) {
            @content;
        }
    }
}

@mixin theme-self($theme) {
    $map: map-get($themes, $theme);
    &.cls-theme-#{$theme} {
        @include with-theme-values($theme, $map) {
            @content;
        }
    }
}

@mixin themed {
    @each $theme, $map in $themes {
        @include theme($theme) {
            @content;
        }
    }
}

@mixin themed-self {
    @each $theme, $map in $themes {
        @include theme-self($theme) {
            @content;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}

@mixin hidden {
    position: absolute;
    top: -99999px;
    left: -99999px;
}

@function slice($list, $start: 1) {
    $result: ();
    $end: length($list);

    @if $start <= $end {
        @for $i from $start through $end {
            $result: append($result, nth($list, $i));
        }
    }

    @return $result;
}

@mixin minimal-scrollbar {
    @include theme($light) {
        $parsed: selector.parse(&);
        @each $selectors in $parsed {
            @at-root #{selector.nest(selector.unify(nth($selectors, 1), 'html.cls-not-mobile-or-chromebook'), slice($selectors, 2)... )} {
                scrollbar-width: thin;

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: t($bg2);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: t($bg3);
                }
            }
        }
    }
}

@mixin sticky-sidebar--js-sticky-active {
    position: fixed;
    top: 0;
    height: 100vh;
}

@mixin supports-sticky {
    @supports (position: sticky) {
        @content;
    }
}

/*
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
input,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html.cls-not-mobile-or-chromebook {
    @include theme-self($dark) {
        ::-webkit-scrollbar {
            width: 16px;
            height: 16px;
            padding: 2px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: t($bg2);
            border-radius: 10px;
            background-clip: padding-box;
            border: 4px solid rgba(0, 0, 0, 0);
            box-shadow: inset -1px -1px 0px $bg2, inset 1px 1px 0px $bg2;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: t($bg3);
        }

        ::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }

        ::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: $main-text-size;
    @include themed-self() {
        background-color: t($bg0);
    }
}

html,
body {
    letter-spacing: 0;
    text-size-adjust: none;
    line-height: 1.7;
}

input,
button {
    border: none;
    background: inherit;
}

// https://web.dev/headings-and-landmarks/#use-landmarks-to-aid-navigation
.cls-skip-link {
    position: absolute;
    top: -100px;
    left: 8px;
    @include themed {
        background: t($bg0);
    }
    padding: 8px;
    z-index: $z-index-skip-link;
    @include themed {
        color: t($text-primary);
    }
}

.cls-skip-link:focus {
    top: 0;
}

// Fix chromium quirk where focusing the link through javascript in specific
// circumstances does not show an outline.
.cls-fix-chromium-focus:focus {
    outline: 2px solid -webkit-focus-ring-color !important;
    opacity: $hover-opacity !important;
}

.cls-header {
    $link-margin: 1px;
    $link-padding: 7px;
    $content-height: 40px;

    @include themed {
        border-bottom: t($light-border);
    }
    display: flex;
    align-items: center;
    height: $header-height;
    right: 0;
    left: 0;
    top: 0;
    position: relative;
    font-weight: 600;

    &__contents {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        max-width: $max-width;
        position: relative;
        width: 100%;
        height: $header-height;
        padding: 0 $spacing;

        @media screen and (max-width: $size-show-menu) {
            padding: 0;
        }

        &__container {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    &__nav {
        height: 100%;

        &__list {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 calc(#{$spacing} - #{$link-margin} - #{$link-padding});
        }

        @media screen and (max-width: $size-small) {
            &--left-with-back-button {
                padding-right: 0;
            }
        }

        &__link-container {
            display: flex;
            height: 100%;
            align-items: center;

            &--active {
                @include themed {
                    border-bottom: 2px solid t($accent);
                }
            }
        }

        &__link-container--active &__link {
            @include themed {
                color: t($accent) !important;
            }
            margin-bottom: -2px;
        }

        &__link {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0px $link-margin;
            padding: 0px $link-padding;
            height: $content-height;
            text-decoration: none;

            &:not(&--theme-toggle) {
                @include themed {
                    color: t($text-primary);
                }
                &:hover {
                    opacity: $hover-opacity;
                }
            }
        }

        &__icon {
            @include themed {
                fill: t($text-primary);
            }
            height: 20px;

            &--menu {
                height: 24px;
            }
        }

        &__link:focus &__icon {
            opacity: $hover-opacity;
        }

        &__link:focus:not(:focus-visible) &__icon {
            opacity: 1;
        }
    }

    @media screen and (max-width: $size-small) {
        &__logo--next-to-back-button {
            padding: 0;
        }
    }

    &__logo-img {
        fill: none;
        height: 100%;
        width: auto;
        display: block;

        &--without-text {
            display: none;
        }

        &__text-path {
            @include themed {
                fill: t($text-primary);
            }
        }

        @media screen and (max-width: $size-small) {
            padding-left: 0;
            padding-right: 0;

            &--without-text {
                display: block;
            }

            &--with-text {
                display: none;
            }
        }
    }

    &__search {
        position: relative;
        flex-grow: 1;
        z-index: $z-index-search;
        .cls-header--search-focused & {
            @media screen and (max-width: $size-show-menu) {
                margin-right: $spacing;
            }
        }
        @include themed {
            background: t($bg0);
        }
        border-radius: $content-height;

        $icon-size: $main-text-size;
        $icon-spacing-lg: $spacing;
        $icon-spacing-sm: $spacing/2;

        &__input {
            z-index: $z-index-search;
            font-weight: 400;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            height: $content-height;
            @include themed {
                color: t($text-primary);
            }
            padding-left: $icon-size + $icon-spacing-lg * 2;
            padding-right: $icon-spacing-lg;
            @media screen and (max-width: $size-small) {
                padding-left: $icon-size + $icon-spacing-sm * 2;
                padding-right: $icon-spacing-sm;
            }
            border-radius: $content-height;
            outline: none;

            &::placeholder {
                @include themed {
                    color: t($text-primary);
                }
            }

            &:focus {
                border: 1px solid $focus-border-color;
                box-shadow: $box-shadow;

                &::placeholder {
                    @include themed {
                        color: rgba(t($text-primary), $hover-opacity);
                    }
                }
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            pointer-events: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            padding-left: $icon-spacing-lg;
            @media screen and (max-width: $size-small) {
                padding-left: $icon-spacing-sm;
            }

            &__svg {
                @include themed {
                    fill: t($text-primary);
                }
                height: $icon-size;
            }
        }

        &__results-overlay {
            z-index: $z-index-search-overlay;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            background-color: rgba(90, 98, 112, 0.5);
            transition-property: opacity, visibility;
            transition-duration: 50ms;
            transition-timing-function: ease-in-out;

            @media (prefers-reduced-motion) {
                transition: none;
            }

            &--hidden {
                opacity: 0;
                visibility: hidden;
            }
        }

        &__results {
            $vertical-spacing: $spacing;
            z-index: $z-index-search;
            $max-vw: 0.7;
            position: absolute;
            top: $content-height + ($header-height - $content-height)/2 +
                $vertical-spacing;
            left: 0;
            width: 100%;
            width: Min(Max(100%, $max-vw * 100vw), $max-vw * $max-width);
            @include themed {
                background-color: t($bg0);
                box-shadow: $box-shadow;
            }
            $max-height-subtract: $header-height + $vertical-spacing * 2 +
                ($header-height - $content-height) / 2 + $header-border-height;
            max-height: calc(100vh - #{$max-height-subtract});
            html.cls-ios & {
                max-height: calc(50vh - #{$max-height-subtract});
            }
            overflow: auto;
            border-radius: 6px;
            @include minimal-scrollbar();

            &__result {
                & + & {
                    @include themed {
                        border-top: t($light-border);
                    }
                }

                &--selected,
                &:hover {
                    @include themed {
                        background: t($bg1);
                    }
                }

                $padding: $spacing * 2;
                $focus-border-size: 2px;

                &__anchor-wrapper {
                    display: block;
                    text-decoration: none;
                    padding: $padding;
                    outline: none;
                }

                &--selected &__anchor-wrapper,
                &__anchor-wrapper:focus {
                    border: $focus-border-size solid $focus-border-color;
                    border-radius: 6px;
                    padding: $padding - $focus-border-size;
                }

                &__title {
                    text-decoration: underline;
                    font-size: 20px;
                    margin-bottom: $spacing/2;
                    @include themed {
                        color: t($text-primary);
                    }
                }

                &__title &__match-text {
                    text-decoration: underline;
                }

                &__heading {
                    text-decoration: none;
                    @include themed {
                        color: t($text-primary);
                    }
                }

                &__content-snippet {
                    white-space: pre-wrap;
                    @include themed {
                        color: t($text-secondary);
                    }
                }

                &__match-text {
                    @include themed {
                        color: t($accent);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        &--search-focused &__contents__container--right-nav {
            @include hidden;
        }
    }

    &__version {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include themed {
            color: t($text-primary);
        }

        @media screen and (max-width: 370px) {
            @include hidden;
        }
    }

    @media screen and (max-width: $size-small) {
        &__nav {
            &--pages {
                display: none;
            }
        }

        &__search {
            justify-content: space-around;
            margin-right: $spacing;
        }
    }

    &__theme-checkbox-input {
        @include hidden;
    }

    &__nav__link--theme-toggle:hover {
        @include themed {
            background-color: t($bg2);
        }
    }

    &__theme-icon {
        outline-offset: $spacing/3;
        @include theme($dark) {
            outline-offset: $spacing + $spacing/2;
        }
    }

    &__theme-checkbox-input:focus + &__theme-icon {
        outline: 2px solid -webkit-focus-ring-color !important;
    }

    &__nav__link--theme-toggle:hover &__theme-icon {
        outline: none !important;
    }

    &__theme-icon {
        // Taken from https://github.com/LekoArts/gatsby-themes/blob/67a05ac/themes/gatsby-theme-minimal-blog/src/components/colormode-toggle.tsx
        // Which is adapted from https://codepen.io/aaroniker/pen/KGpXZo and https://github.com/narative/gatsby-theme-novela/blob/714b6209c5bd61b220370e8a7ad84c0b1407946a/%40narative/gatsby-theme-novela/src/components/Navigation/Navigation.Header.tsx

        $color: #cbd5e0;
        $scale: 0.8;

        cursor: pointer;
        box-sizing: inherit;
        position: relative;
        width: 24px * $scale;
        height: 24px * $scale;
        border-radius: 50%;
        border: 4px * $scale solid $color;
        background-color: $color;
        transform: scale(0.55);
        transition: border 0.45s ease 0s, transform 0.45s ease 0s,
            background-color 0.45s ease 0s;
        overflow: visible;
        box-shadow: none;

        &:before {
            content: '';
            position: absolute;
            right: -9px * $scale;
            top: -9px * $scale;
            height: 24px * $scale;
            width: 24px * $scale;
            border: 2px * $scale solid $color;
            border-radius: 50%;
            transform: translate(14px * $scale, -14px * $scale);
            opacity: 0;
            transition: transform 0.45s ease 0s;
        }

        &:after {
            content: '';
            width: 8px * $scale;
            height: 8px * $scale;
            border-radius: 50%;
            margin: -4px * $scale 0px * $scale 0px * $scale -4px * $scale;
            position: absolute;
            top: 50%;
            left: 50%;
            box-shadow: 0 -23px * $scale 0 $color, 0 23px * $scale 0 $color,
                23px * $scale 0 0 $color, -23px * $scale 0 0 $color,
                15px * $scale 15px * $scale 0 $color,
                -15px * $scale 15px * $scale 0 $color,
                15px * $scale -15px * $scale 0 $color,
                -15px * $scale -15px * $scale 0 $color;
            transform: scale(1);
            transition: all 0.35s ease 0s;
        }

        @include theme($light) {
            border: none;
            background-color: transparent;
            transform: scale(1);
            overflow: hidden;
            box-shadow: inset 8px * $scale -8px * $scale 0px 0px #2d3748;

            &:before {
                border: none;
                transform: translate(0, 0);
                opacity: 1;
            }

            &:after {
                transform: scale(0);
            }
        }
    }

    &__menu-toggle-button {
        display: none;

        &--enabled {
            display: flex;
        }

        @media screen and (max-width: $size-show-menu) {
            display: flex;
        }
    }

    &__sticky-menu-toggle-button {
        position: fixed;
        $padding: $spacing/2;
        $size: 24px;
        bottom: $spacing * 2 - $padding;
        right: $spacing * 2 - $padding;
        height: $size + $padding * 2;
        width: $size + $padding * 2;
        z-index: $z-index-sticky-menu-toggle-button;
        cursor: pointer;
        background: transparent;
        transform: translateY(4px);
        $transition: 0.1s ease;
        transition: background $transition, transform $transition;

        &--show {
            @include themed {
                background: radial-gradient(
                    circle,
                    t($bg0) 0%,
                    /* Safari doesn't like transparent. */ rgba(t($bg0), 0) 70%
                );
            }
            transform: none;
        }

        &__icon {
            box-sizing: content-box;
            padding: $padding;
            opacity: 0;
            @include themed {
                fill: t($text-primary);
            }
            height: $size;
            width: $size;
            transition: opacity $transition;
        }

        &--show &__icon {
            opacity: 1;
        }
    }
}

.cls-menu {
    display: none;
    justify-content: center;

    @mixin show {
        display: flex;

        & ~ .cls-page {
            @include hidden;
        }
    }

    @media screen and (max-width: $size-show-menu) {
        @include show;
    }

    &--enabled {
        @include show;
    }

    &__contents {
        width: 100%;
        max-width: $max-width;
        padding: $spacing * 2;

        @media screen and (max-width: $size-show-menu) {
            padding: $spacing;
        }
    }
}

.cls-full-site-nav {
    &__link-list-container {
        position: relative;

        & + & {
            margin-top: $spacing;
        }

        &--open + & {
            margin-top: $spacing * 2;
        }
    }

    &__list-separator {
        position: relative;
        height: $spacing;
        width: 100%;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            @include themed {
                border-bottom: t($light-border);
            }
        }
    }

    &__link-list-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    &__link-list-checkbox:focus + &__header {
        html.cls-chromium & {
            outline: 2px solid -webkit-focus-ring-color !important;
            outline-offset: $spacing/3;
        }
        pointer-events: none;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
        font-size: $main-text-size;
        @include themed {
            color: t($text-primary);
        }

        &--active {
            @include themed {
                color: t($accent);
            }
        }

        &__svg {
            width: 10px;
            height: 10px;

            &--closed {
                transform: scaleY(-1);
            }

            path {
                vector-effect: non-scaling-stroke;
            }
        }
    }

    $link-padding-tb: 10px / 2;
    $link-padding-lr: $spacing / 2;
    $link-padding-lr-menu: $spacing / 4;
    $link-padding: $link-padding-tb $link-padding-lr;
    $link-padding-menu: $link-padding-tb $link-padding-lr-menu;

    &__link-list {
        margin-left: -$link-padding-lr;
        width: calc(100% + #{$link-padding-lr * 2});
        .cls-menu & {
            margin-left: -$link-padding-lr-menu;
            width: calc(100% + #{$link-padding-lr-menu * 2});
        }

        &--closed {
            @include hidden;
        }
    }

    &__li {
        line-height: 20px;
    }

    &__link {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: $link-padding;
        .cls-menu & {
            padding: $link-padding-menu;
        }
        text-decoration: none;
        @include themed {
            color: t($text-primary);
        }
        opacity: $hover-opacity;
        &:hover {
            opacity: 1;
        }
        &:focus {
            html.cls-chromium & {
                outline: 2px solid -webkit-focus-ring-color !important;
            }
        }
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__link-container--active &__link {
        opacity: 1;
        @include themed {
            color: t($accent) !important;
        }
    }
}

.cls-page {
    &__inner {
        position: relative;
        display: flex;
        width: 100%;
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
        padding: 0 $spacing;

        @media screen and (max-width: $size-show-menu) {
            padding: 0;
        }
    }

    &__sidebar {
        $max-width: 280px;
        $min-width: 240px;
        $width-old-browser: ($min-width + $max-width) / 2;
        $width-new-browser: Max(Min(20vw, $max-width), $min-width);

        flex-shrink: 0;
        width: $width-old-browser;
        width: $width-new-browser;
        padding: $spacing * 2;
        padding-left: $spacing;
        overflow-y: auto;
        margin-right: $spacing * 3;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
        @include minimal-scrollbar;
        @include themed {
            border-right: t($light-border);
        }

        &--js-sticky-active {
            @include sticky-sidebar--js-sticky-active;

            & ~ .cls-page__content {
                width: calc(100% - #{$width-old-browser});
                width: calc(100% - #{$width-new-browser});
                flex-grow: 0;
                padding-left: $spacing;
                margin-left: auto;
            }
        }

        @include supports-sticky {
            position: sticky;
            top: 0;
            max-height: 100vh;
            padding-bottom: $header-height + $header-border-height;

            &--native-sticky-fix-active {
                padding-bottom: $spacing * 2;
            }
        }

        @media screen and (max-width: $size-show-menu) {
            display: none;
        }
    }

    &__content {
        flex-grow: 1;

        &__container {
            padding-top: $spacing;
            padding-bottom: $spacing;
            &:not(.cls-doc-page) {
                padding-left: $spacing;
                padding-right: $spacing;
            }
            padding-bottom: 0;
            @include themed {
                color: t($text-primary);
            }
        }
    }
}

.cls-doc-page {
    margin-top: $spacing/2;
    padding-right: 0;

    &__content {
        display: flex;
        flex-direction: row-reverse;
    }

    $title-spacing-bottom: 0px;

    &__main {
        flex-grow: 1;
        padding-top: $title-spacing-bottom;
        padding-right: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;

        > :first-child {
            &.cls-temp-focus-span + * {
                margin-top: 40px;
            }
            margin-top: 40px;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &__prev-next {
        display: flex;
        line-height: 1.5rem;
        margin-top: $spacing * 3.5;
        @include themed {
            border-top: t($light-border);
        }
        padding-top: $spacing * 1.5;
        padding-bottom: $spacing * 6;
        margin-left: $spacing;
        margin-right: $spacing;

        &__prev-link,
        &__next-link {
            @include themed {
                color: t($text-primary);
            }
            display: flex;
            text-decoration: none;
            opacity: $hover-opacity;
            max-width: 45%;
            hyphens: auto;
            &:hover {
                opacity: 1;
            }
        }

        $arrow-spacing: $spacing * 2/3;

        &__prev-link__arrow {
            margin-right: $arrow-spacing;
        }

        &__next-link {
            margin-left: auto;
            text-align: right;

            &__arrow {
                margin-left: $arrow-spacing;
            }
        }
    }

    $min-sidebar-width: 260px;
    $max-sidebar-width: 400px;
    $non-native-sticky-support-sidebar-width: (
            $min-sidebar-width + $max-sidebar-width
        )/2;
    $sidebar-padding: $spacing * 2;

    &__sidebar-non-native-sticky-support-placeholder {
        margin-top: $title-spacing-bottom - $sidebar-padding;
        flex-shrink: 0;

        &--js-sticky-active {
            width: $non-native-sticky-support-sidebar-width;
        }

        @media screen and (max-width: $size-sidebar-right) {
            display: none;
        }
    }

    &__sidebar {
        flex-shrink: 0;
        width: $non-native-sticky-support-sidebar-width;
        margin-top: $title-spacing-bottom - $sidebar-padding;
        padding: $sidebar-padding;
        padding-left: $spacing * 6;
        padding-right: $spacing * 2;
        overflow-y: auto;
        @include minimal-scrollbar;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;

        &--js-sticky-active {
            @include sticky-sidebar--js-sticky-active;
            top: -($title-spacing-bottom - $sidebar-padding);
            right: $sidebar-padding;
        }

        @include supports-sticky {
            position: sticky;
            width: auto;
            min-width: $min-sidebar-width;
            max-width: $max-sidebar-width;
            max-height: 100vh;
            top: 0;
        }

        @media screen and (max-width: $size-sidebar-right) {
            display: none;
        }

        &__title {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: $spacing/2;
        }

        &__table-of-contents {
            &__item {
                $indent: $spacing * 2;
                padding: $spacing/5 0;
                margin-left: $indent;
                font-size: 14px;
                text-decoration: underline;

                &--has-nested-references {
                    padding: $spacing/2 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                &__main-reference {
                    margin-left: -$indent;
                    text-indent: $indent;
                    outline-offset: $spacing / 3;
                    text-decoration: none;
                    @include themed {
                        color: t($text-primary);
                    }

                    &:hover {
                        opacity: $hover-opacity;
                    }

                    &--active {
                        @include themed {
                            color: t($accent);
                        }
                    }
                }
            }
        }
    }

    &__title {
        font-size: 60px;
        line-height: 1.2em;
        margin-left: $spacing;
        margin-right: $spacing * 2;
        font-weight: 600;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
        @media screen and (max-width: $size-show-menu) {
            font-size: 50px;
            margin-left: 0;
            margin-right: 0;
            padding-left: $spacing;
            max-width: 100vw;
            max-width: calc(100vw - var(--scrollbar-width, 0px));
            overflow-x: auto;
            overflow-y: hidden;
            overflow-wrap: normal;
            word-wrap: normal;
            word-break: normal;
            word-break: normal;
            hyphens: none;
        }
    }
}

.cls-node {
    &-blockquote,
    &-collapsible-section,
    &-ordered-list,
    &-unordered-list,
    &-paragraph,
    &-code-block,
    &-table,
    &-heading-1,
    &-heading-2,
    &-heading-3,
    &-heading-4,
    &-heading-5,
    &-heading-6 {
        .cls-doc-page__main > & {
            margin-left: $spacing;
            margin-right: $spacing;
        }
    }

    &-link:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    &-blockquote,
    &-collapsible-section,
    &-ordered-list,
    &-unordered-list,
    &-paragraph,
    &-code-block,
    &-table {
        margin-top: $spacing * 2;
        margin-bottom: 0;
    }

    &-subscript,
    &-superscript {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    &-superscript {
        top: -0.5em;
    }

    &-subscript {
        bottom: -0.25em;
    }

    &-italics {
        font-style: italic;
    }

    &-bold {
        font-weight: 600;
    }

    &-strikethrough {
        text-decoration: line-through;
    }

    &-code-span,
    &-code-block {
        font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono,
            Oxygen Mono, Liberation Mono, monospace;
        font-size: 14px;
    }

    &-code-span {
        padding: 0 0.2em;
        margin: 0;
        font-size: 85%;
        @include themed {
            color: t($code-color);
        }
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        hyphens: none;

        &::before,
        &::after {
            content: '`';
        }
    }

    &-code-span &-link {
        @include themed {
            color: t($code-color);
        }
        &:focus,
        &:hover {
            @include themed {
                color: rgba(t($code-color), $hover-opacity);
            }
        }
    }

    &-code-block {
        padding: $spacing * 2/3;
        border-radius: 0.3em;
        line-height: 24px;

        @include theme($light) {
            // Override inline style.
            background-color: t($bg1) !important;
        }

        &__line-number,
        &__copy-button {
            display: none;
        }

        $line-number-width-offset: 4px;
        $line-number-width: calc(3em - #{$line-number-width-offset});

        .cls-doc-page__main > & &__line-number {
            display: table-cell;
            padding-right: $spacing;
            user-select: none;
            text-align: right;
            white-space: nowrap;
        }

        .cls-doc-page__main > & &__line-code {
            padding-left: $spacing;
        }

        .cls-doc-page__main > & &__copy-button {
            display: inline-block;
            user-select: none;
            background: #000;
            color: #fff;
            &:hover {
                @include themed {
                    background-color: t($accent);
                }
            }
            cursor: pointer;
            &[disabled] {
                cursor: not-allowed;
            }
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 8px;
            $padding-top-bottom: $spacing * 0.6;
            $padding-left-right: $spacing;
            padding: $padding-top-bottom $padding-left-right;
            outline: none;
            &:focus {
                $border-width: 2px;
                border: $border-width solid $focus-border-color;
                padding: $padding-top-bottom - $border-width $padding-left-right -
                    $border-width;
            }
        }

        .cls-doc-page__main > & {
            border-radius: 10px;
            padding: $spacing * 1.2 $spacing * 1.5;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-all;
            word-break: break-word;
            hyphens: none;

            &[data-lang] {
                position: relative;
                padding-top: $spacing * 3;

                &::before {
                    content: attr(data-lang);
                    position: absolute;
                    top: 0;
                    border-radius: 0 0 4px 4px;
                    font-size: 12px;
                    padding: 0 $spacing/2;
                    padding-top: 0.15 * $spacing;
                    left: $spacing * 1.2;
                    text-transform: uppercase;
                }
            }

            &[data-lang='ts']::before {
                background: #3174c0;
                color: #fff;
            }

            &[data-lang='bash']::before {
                background: #f7f7f7;
                color: #2a3337;
            }
        }

        @media screen and (max-width: $size-small) {
            .cls-doc-page__main > & {
                padding: 0;
                max-width: 100vw;
                max-width: calc(100vw - var(--scrollbar-width, 0px));
                margin-left: 0;
                margin-right: 0;
                border-radius: 0;
                white-space: pre;
                overflow-wrap: normal;
                word-wrap: normal;
                word-break: normal;
                word-break: normal;
            }

            .cls-doc-page__main > & &__copy-button {
                border-top-right-radius: 0;
            }

            .cls-doc-page__main > & &__code {
                padding: $spacing;
                padding-top: 0;
                display: block;
                overflow-x: auto;
                overflow-y: hidden;
            }

            .cls-doc-page__main > & &__line-code {
                padding-right: $spacing;
            }
        }

        &__link {
            text-decoration: none;
            color: inherit;

            &__text {
                text-decoration: underline;
            }
        }
    }

    &-link {
        text-decoration: underline;
        outline-offset: $spacing / 4;
        @include themed {
            color: t($accent);
        }
        &:focus,
        &:hover {
            @include themed {
                color: rgba(t($accent), $hover-opacity);
            }
        }
    }

    &-heading__anchor {
        opacity: 0;
        text-decoration: none;
        float: left;
        padding-right: 4px;
        margin-left: -20px;

        svg {
            @include themed {
                fill: t($text-primary);
            }
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    &-heading__clickable-content {
        text-decoration: none;
        @include themed {
            color: t($text-primary);
        }
    }

    &-heading-1,
    &-heading-2,
    &-heading-3,
    &-heading-4,
    &-heading-5,
    &-heading-6 {
        margin-top: 0;
        margin-bottom: 0;

        &:hover .cls-node-heading__anchor {
            opacity: 1;
        }
    }

    &-heading-1 {
        font-size: 32px;
        margin-top: $spacing * 5;
    }

    &-heading-1,
    &-heading-2 {
        font-weight: 600;
    }

    &-heading-2 {
        font-size: 24px;

        &:not(:first-child)::before {
            content: ' ';
            display: block;
            @include themed {
                border-bottom: t($light-border);
            }
            padding-top: $spacing * 5.6;
            margin-bottom: $spacing * 4.6;
        }

        .cls-temp-focus-span:first-child + &::before {
            content: none;
        }
    }

    &-heading-3 {
        font-size: 20px;
    }

    &-heading-3,
    &-heading-4 {
        font-weight: 600;
    }

    &-heading-4 {
        font-size: 16px;
    }

    &-heading-4 + &-unordered-list,
    &-heading-4 + &-blockquote,
    &-heading-4 + &-collapsible-section,
    &-heading-4 + &-ordered-list,
    &-heading-4 + &-unordered-list,
    &-heading-4 + &-paragraph,
    &-heading-4 + &-code-block,
    &-heading-4 + &-table {
        margin-top: $spacing;
    }

    &-heading-5 {
        font-size: 14px;
    }

    &-heading-5,
    &-heading-6 {
        font-weight: 600;
    }

    &-heading-6 {
        font-size: 12px;
    }

    &-heading-3 {
        margin-top: $spacing * 5;
    }

    &-heading-4,
    &-heading-5,
    &-heading-6 {
        margin-top: $spacing * 3;
    }

    &-heading-3,
    &-heading-4,
    &-heading-5,
    &-heading-6 {
        font-weight: 600;
        line-height: 1.25;
    }

    &-heading-4 {
        font-size: 16px;
        @include themed {
            color: t($text-primary-accent);
        }
    }

    &-heading-5 {
        font-size: 15px;
    }

    &-heading-6 {
        font-size: 14px;
    }

    &-table &-code-block {
        white-space: pre-wrap;
        min-width: 150px;
        min-width: Min(150px, 40vw);
        @media screen and (max-width: $size-show-menu) {
            white-space: pre;
            min-width: 0;
        }
    }

    &-table {
        display: table;
        width: calc(100% - #{$spacing * 2});
        overflow-x: auto;
        overflow-y: hidden;
        overflow-wrap: normal;
        word-wrap: normal;
        word-break: normal;
        word-break: normal;

        @media screen and (max-width: $size-show-menu) {
            display: block;
            max-width: calc(100vw - #{$spacing * 2});
            max-width: calc(
                100vw - var(--scrollbar-width, 0px) - #{$spacing * 2}
            );
        }

        &__th {
            font-weight: 600;
            text-align: left;
        }

        &__td,
        &__th {
            padding: 6px 13px;
        }

        &__th,
        &__tr:not(:last-child) &__td {
            @include themed {
                border-bottom: t($light-border);
            }
        }

        &__td {
            > :first-child {
                &.cls-temp-focus-span + * {
                    margin-top: 0;
                }
                margin-top: 0;
            }

            > :last-child {
                margin-bottom: 0;
            }
        }
    }

    &-unordered-list &-list__item {
        position: relative;
        padding-left: 1.5em;
    }

    &-unordered-list &-list__item::before {
        content: '';
        position: absolute;
        @include themed {
            background-color: t($bg3);
        }
        border-radius: 0;
        width: 0.75em;
        height: 0.125em;
        top: 0.8125em;
        left: 0;
    }

    &-ordered-list {
        list-style-type: decimal;
        padding-left: 2.5em;
    }

    &-ordered-list &-ordered-list,
    &-ordered-list &-unordered-list,
    &-unordered-list &-ordered-list,
    &-unordered-list &-unordered-list {
        margin-top: 0;
        margin-bottom: 0;
    }

    &-list__item {
        word-wrap: break-all;

        & + & {
            margin-top: 0.25em;
        }

        > :first-child {
            &.cls-temp-focus-span + * {
                margin-top: 0;
            }
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &-list__item > &-paragraph {
        margin-bottom: 0;
    }

    &-collapsible-section {
        display: block;
    }

    &-collapsible-section__summary {
        cursor: pointer;
        display: list-item;
    }

    &-collapsible-section__summary + &-unordered-list,
    &-collapsible-section__summary + &-blockquote,
    &-collapsible-section__summary + &-collapsible-section,
    &-collapsible-section__summary + &-ordered-list,
    &-collapsible-section__summary + &-unordered-list,
    &-collapsible-section__summary + &-paragraph,
    &-collapsible-section__summary + &-code-block,
    &-collapsible-section__summary + &-table {
        margin-top: $spacing/2;
    }

    &-blockquote {
        $line-height: 1.7;
        line-height: $line-height;
        @include themed {
            border-left: 4px solid t($accent);
            background-color: t($bg1);
        }
        $padding: $spacing * 1.2;
        $icon-size: $spacing * 1.5;
        $icon-padding-left: $padding * 3/4;
        $icon-padding-right: $padding * 2/3;
        padding: $padding;
        padding-left: $icon-padding-left + $icon-padding-right + $icon-size;
        margin-left: -30px;
        margin-right: -30px;
        position: relative;

        &__icon {
            width: $icon-size;
            height: $icon-size;
            position: absolute;
            top: calc(
                #{$padding} + (#{$line-height} * 1em - #{$icon-size}) / 2
            );
            left: $icon-padding-left;
            display: inline-block;
            vertical-align: middle;
            @include themed {
                fill: t($accent);
            }
        }

        // First child is the icon.
        > :nth-child(2) {
            &.cls-temp-focus-span + * {
                margin-top: 0;
            }
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: $size-small) {
            .cls-doc-page__main > & {
                max-width: 100vw;
                max-width: calc(100vw - var(--scrollbar-width, 0px));
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
